<h1><%= t('.title') %></h1>

<div class="search_form">
  <%= form_with(scope: :task, method: :get, local: true) do |f| %>
    <%= f.label(:status, Task.human_attribute_name(:status)) %>
    <%= f.select :status, [ "未着手", "着手中", "完了" ], {include_blank: true}, class: "form-control" %>
    <%= f.label(:title, Task.human_attribute_name(:title)) %>
    <%= f.text_field :title, class: "form-control" %><br>
    <%= f.label "ラベル"%>
    <%= f.select("label_id", Label.pluck(:name, :id), { include_blank: true }, class: "form-control") %><br>
    <%= f.submit "検索", id: "search_task", class: "btn btn-sm btn-success"%>
  <% end %>
</div>


<table class = "table">
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:content) %></th>
      <th><%= Task.human_attribute_name(:created_at) %></th>
      <th><%= link_to "終了期限", sort_deadline_on: true %></th>
      <th><%= link_to "優先度", sort_priority: true %></th>
      <th><%= Task.human_attribute_name(:status) %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= l task.created_at %></td>
        <td><%= task.deadline_on %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= button_to t('common.show'), task_path(task), method: :get, class: "show-task btn btn-sm btn-info" %></td>
        <td><%= button_to t('common.edit'), edit_task_path(task), method: :get, class: "edit-task btn btn-sm btn-success" %></td>
        <td><%= button_to t('common.destroy'), task_path(task), method: :delete, data: { confirm: t('common.confirm_destroy') }, class: "destroy-task btn btn-sm btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>



