<ul>
  <li><%= link_to "Tasks Index", tasks_path, id: "tasks-index" %></li>
  <li><%= link_to "New Task", new_task_path, id: "new-task" %></li>
</ul>
<%# グローバルナビゲーション %>
<h1>Tasks Index Page</h1>

<table>
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:content) %></th>
      <th><%= Task.human_attribute_name(:created_at) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at %></td>
        <td><%= link_to "Show", task, class: "show-task" %></td>
        <td><%= link_to "Edit", edit_task_path(task), class: "edit-task" %></td>
        <td><%= link_to "Destroy", task_path(task), method: :delete, data: { confirm: '本当に削除してよろしいですか？', class: "destroy-task" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



