<h1><%= t('.title') %></h1>

<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %>
  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>
  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "パスワード（確認）" %>
  <%= f.password_field :password_confirmation %>
  <%= f.label "管理者権限" %>
  <%= f.check_box :admin, id: "check_admin" %><br>
  <%= f.submit "更新する", id: "update-user" %>
<% end %>

<%= link_to "戻る", admin_users_path, id: "back" %>